<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Plant Disease Prediction</title>
</head>
<body>
    <h1>Plant Disease Prediction</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Predict</button>
    </form>
    {% if predicted_class %}
        <h2>Predicted Class: {{ predicted_class }}</h2>
        <p>Solution: {{ solution }}</p>
    {% endif %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% if unknown %}
    <h2>Unknown Class Detected</h2>
    <p>Please enter the name of the plant or disease:</p>
    <form action="/submit_unknown" method="post">
        <input type="text" name="plant_name" required>
        <input type="hidden" name="img_path" value="{{ img_path }}">
        <button type="submit">Submit</button>
    </form>
{% endif %}

</body>
</html>
